@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-flipkart: "Inter", sans-serif;
}

body {
  font-family: var(--font-flipkart);
}


/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; 
}

body {
  -ms-overflow-style: none;
}

.shadow-top {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
              0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}
